body {
    background-color: black;
    color: white;
    font-family: monospace;
    font-size: 24px;
    overflow: hidden;
}

#container {
    align-items: center;
    align-self: center;
    border: 8px groove white;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    height: 90vh;
    justify-content: center;
    margin: 5vh 5vw;
    overflow-y: scroll;
    text-align: center;
}

#typing-wrapper {
    line-height: 1.25;
    padding: 5%;
}

#typing-cursor {
    animation: blink .65s linear infinite alternate;
    background-color: white;
    display: inline-block;
    height: 24px;
    width: 2px;
}

.start-btn, .choice {
    animation: fadein 2s linear 1;
    background-color: black;
    border: 2px solid white;
    color: white;
    padding: 1.25rem;
    width: 50%;
}

.start-btn:hover, .choice:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    transition: 0.5s ease-in-out;

}

.heading {
    margin-bottom: 2rem;
    font-size: 36px;
}

.choice {
    /* margin-top: 2.5rem; */
    margin-bottom: 2.5rem;
}

/* Animates the blinking cursor */

@keyframes blink {
    0% { opacity: 1; }
    40% { opacity: 1; }
    65% { opacity: 0; }
    100% { opacity: 0; }
}

/* Animates the start button when it appears on the page; 
various browser compatibilities */

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Firefox compatibility */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Responsive Design */

@media screen and (max-width: 768px) {

    #container {
        flex-wrap: nowrap;
        height: 100vh;
        margin: 0;
        overflow-y: scroll;
    }

    .choice {
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: 0.75rem;
        width: 85%;
    }
    
}
@media screen and (max-width: 550px) {

    #typing-wrapper {
        font-size: 16px;
    }

    .start-btn {
        font-size: 16px;
        margin-top: 1.5rem;
        padding: 0.75rem;
        width: 85%;
    }

    .heading {
        font-size: 24px;
    }

    .choice {
        font-size: 16px;
    }
    
}

@media screen and (max-width: 320px) {

    .heading {
        font-size: 18px;
    }

    .choice {
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
        padding: 0.5rem;
    }
    
}
