body {
    background-color: black;
    color: white;
    font-family: monospace;
    font-size: 24px;
    overflow-y: hidden;
}

#container {
    align-items: center;
    align-self: center;
    border: 3px solid white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 90vh;
    justify-content: center;
    margin: 5vh 5vw;
    text-align: center;
}

#typing-wrapper {
    line-height: 1.25;
    padding: 5%;
}

#typing-cursor {
    animation: blink .65s linear infinite alternate;
    background-color: white;
    display: inline-block;
    height: 24px;
    width: 2px;
}

.start-btn, .choice {
    animation: fadein 2s linear 1;
    background-color: white;
    border-radius: 8px;
    color: black;
    padding: 1rem;
}

.start-btn:hover, .choice:hover {
    background-color: rgb(37, 37, 37);
    color: white;
    cursor: pointer;
    transition: 0.5s ease-in-out;

}

.heading {
    margin-bottom: 2rem;
    font-size: 36px;
}

.choice {
    width: 50%;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

/* Animates the blinking cursor */

@keyframes blink {
    0% { opacity: 1; }
    40% { opacity: 1; }
    65% { opacity: 0; }
    100% { opacity: 0; }
}

/* Animates the start button when it appears on the page; 
various browser compatibilities */

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Firefox compatibility */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
